.square {
  height: 50px;
  width: 50px;
  border: 2px black;
  border-style: solid;
  margin: 1px;
  background-size: cover;
  display: inline-block;
}
.mark2 {
  background-image: url("/Users/soumojitchakraborty/Documents/React-Projects/tic-tac-toe/circle-line-icon.png");
}
.mark1 {
  background-image: url("/Users/soumojitchakraborty/Documents/React-Projects/tic-tac-toe/close-icon.png");
}
